.image-container {
            position: relative;
            overflow: hidden;
        }

        .image-container img {
            width: 100%;
            height: auto;
        }

        .image-caption {
            border: 2px solid #bbb7b4;
            position: absolute;
            top: 0;
            left: -100%; /* Initially, place it outside the container */
            color: black;
            padding: 10px;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.3s, opacity 0.3s;
            backdrop-filter: blur(5px); /* This adds a blur effect to the image behind */
        }

        .image-container:hover .image-caption {
            transform: translateX(100%); /* Slide in from the left to the right */
            opacity: 1; /* Make it visible */
        }
        .image-container:hover img{
            opacity: 0.2;
        }
       .card-project h2{
        font-weight: 700;
        font-size: 2.9vw;
        margin: 1.1vw 0;
        }
            .tech {
                color: white;
                border: 2px solid #9d93f4;
                padding: 3px 8px;
                border-radius: 16px;
                background-color: #9d93f4;
                margin: 0.4vw 0.2vw;
            }