nav{
  background-color: #f8fffe;
  height: 10vh;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100; /* Use a high z-index to ensure the navbar stays on top of other content */
}

li{
  color: black;
}
li:hover{
  cursor: pointer;   
  color: black;
  border-bottom: 2px solid #6049f9;
}
li.active{
  cursor: pointer;   
  color: black;
  border-bottom: 2px solid #6049f9;
}

/* main section */
#home{
  margin-top: 4rem;
}
.main{
  color: black;
    /* height: 85vh; */
    top: 10vh;
    position: relative;
}

.img-part{
  width: 45%;
}
.text-part{
  width: 55%;
  padding-right: 6vw;
}
img{
  width: 100% !important;
}
.h-14rem{
  height: 7rem;
}
.name{
  color: #6049f9;
}

.bold{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 39px;
}
.circle{
  border: 2px solid #6049f9;
  border-radius: 50%;
  background-color: #6049f9;
  padding: 6px 0 6px 6px;
}
.border-aqua{
  border-bottom: 2px solid #6049f9;
}


/* skill section */
.skills{
  background-color: #f2f5f9;
  /* opacity: 0.8; */
  padding: 2rem 7rem;
}
.m-icons{
  margin: 0rem 2rem;
}
.m-new{
  margin: 2rem 2rem;
}


/* projects section */
.cards-container{
  align-items: center;
  justify-content: space-evenly;
  margin: 5rem 0rem;
}
.card-project{
  width: 35%;
  padding: 1.2rem 1.4rem;
  background-color: #f0f2ff;
}


/* contact section */
.contact-p{
  width: 46vw;
  text-align: center;
  margin: 33px 0px;
}
.social{
  width: 42%;
  justify-self: left;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



